@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CenturyGothic.woff2') format('woff2'),
         url('../fonts/CenturyGothic.woff') format('woff'),
         url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Binner_Di';
    src: url('../fonts/BinnerDi.eot');
    src: url('../fonts/BinnerDi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BinnerDi.woff2') format('woff2'),
         url('../fonts/BinnerDi.woff') format('woff'),
         url('../fonts/BinnerDi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

