html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* width pishem dlya starih browser'ov  */
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url(../images/body_group1.jpg);
    background-size: cover;
}
#wrapper{
    position: relative;
    min-height: 100%;
    height: auto;
    /* background-color: red; */
}
.header{
    height: 200px;
    background-image: url(../images/header_group8.jpg);
    background-size: no-repeat;
    background-size: cover;
    position: relative;
}
.footer{
    margin-top: -70px;
    position: relative;
    z-index: 100;
    height: 70px;
    /* background-color: violet; */
    font-family: "Century Gothic", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    /* left: 50%;
    margin-left: -344px;
    position: absolute; */
}
/* h_footer=h_subfooter */
.subfooter{
    height: 70px;
}
.inner{
    max-width: 980px;
    margin: 0 auto;
    /* width: 94%; */
}
.right-side-bar{
    /* width: 225px; */
    /* height: 770px; */
    margin-left: 18px;
    float: right;
    /* margin-left: 20px; */
    /* background-color: turquoise; */
    padding-top: 30px;
    padding-right: 28px;
}

.authorize_rsb{
    height: 181px;
}

.authorize_rsb__button-autorize{
    background: url(../images/green_button1.jpg) no-repeat center;
    background-size: cover;
    /* height: 50px;
    width: 210px; */
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 7px;
    margin-bottom: 15px;
}
.authorize_rsb__login{
    margin-left: 17px;
    margin-bottom: 15px;
}

.authorize_rsb__pass{
    margin-left: 17px;
}

input{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    border-radius: 5px;
    width: 172px;
    height: 21px;
    margin-bottom: 15px;
}

.authorize_rsb__rememberpass-and-registration{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
    margin-left: -2px;
    margin-top: -13px;
}

.authorize_rsb__rememberpass-and-registration span{
    margin: 0 5px;
}

.authorize_rsb__enter{
    background: url(../images/button-enter.png) no-repeat center;
    /* background-size: cover;
    height: 30px;
    width: 76px; */
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-top: 14px;
    padding: 4px 14px;
    border-radius: 8px;
    margin-left: 54px;
}

.authorize_rsb__enter a{
    color: black;
}

.news_rsb{
    margin-top: 38px;
}

.news_rsb__button-news{
    background: url(../images/green_button1.jpg) no-repeat center;
    background-size: cover;
    /* height: 50px;
    width: 210px; */
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 7px;
    margin-bottom: 30px;
}

.news_rsb__date_and_green-new{
    width: 206px;
    margin-top: 14px;
}

.news_rsb__date{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    float: left;
}

.news_rsb__green-new{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #4b8902;
    float: right;
}

.news_rsb__news-name{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.news_rsb__news-text{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 207px;
    /* height: 62px; */
    margin-top: 6px;
    margin-bottom: 6px;
}

.news_rsb__news-more-info{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin-right: 5px
}

.random_photo_rsb{
    margin-top: 49px;
}

.left-side-bar{
    /* width: 221px; */
    height: 770px;
    float: left;
    /* margin-right: 20px; */
    /* background-color: teal; */
    padding-top: 30px;
    padding-left: 23px;
    margin-right: 19px;
}

.menu_lsb{
    height: 270px;
    margin-bottom: 10px;
}

.button_menu{
    background: url(../images/green_button1.jpg) no-repeat center;
    background-size: cover;
    /* height: 50px; */
    /* width: 210px; */
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4px;
    padding: 7px;
}

ul{
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.ul_menu li{
    position: relative;
    padding-left: 40px;
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

.ul_menu li a:before{
    content: '';
    position: absolute;
    left: 7px;
    top: 8px;
    height: 20px;
    width: 20px;
    background: url(../images/menu_marker.png) no-repeat center left;
    background-size: contain;
}

.ul_menu li a{
    color: black;
}

.ul_archive li{
    position: relative;
    padding-left: 36px;
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
}

.archive_lsb{
    margin-bottom: 10px;
}

.button_archive{
    background: url(../images/green_button1.jpg) no-repeat center;
    background-size: cover;
    /* height: 50px; */
    /* width: 210px; */
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: -11px;
    padding: 7px;
    margin-bottom: 14px;
}

.ul_archive{
    margin-left: 20px;
}

.ul_archive li a:before{
    background: url(../images/marker_month.png) no-repeat center left;
    content: '';
    position: absolute;
    left: 12px;
    top: 9px;
    height: 18px;
    width: 18px;
    background-size: contain;
}

.ul_archive a{
    color: black;
}

.button_random_photo{
    background: url(../images/green_button1.jpg) no-repeat center;
    background-size: cover;
    /* height: 50px; */
    /* width: 210px; */
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: -2px;
    padding: 7px;
}

.random_photo{
    /* width: 206px; */
    height: 137px;
    background: url(../images/random_photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid white;
    margin-top: 26px;
    box-sizing: border-box;
    box-shadow: black;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
}

.random_photo_lsb{
    margin-top: 34px;
}

.clear{
    height: 1px;
    clear: both;
}
.main{
    padding-bottom: 30px;
}
.container{
    background-image: url(../images/base_container.png);
    margin-top: -29px;
    padding-top: 30px;
}
.logo-darina{
    background-image: url(../images/header_logo_group4.png);
    background-size: cover;
    height: 175px;
    width: 165px;
    /* top: 13px; */
    float: left;
    margin-top: 13px;
    margin-left: 30px;
    /* left: 50%;
    margin-left: -459px;
    position: absolute; */
    /* margin-left: 340px;
    margin-top: 13px;
    box-sizing: border-box; */
}

.logo-darina:after{
    content: '';
    background-image: url(../images/rings.png);
    position: absolute;
    width: 180px;
    height: 40px;
    margin-top: 166px;
    margin-left: 8px;
}

.logo-harmonic{
    background-image: url(../images/header_harmonic_group2.png);
    /* position: absolute; */
    height: 185px;
    width: 257px;
    /* top: 9px;
    right: 50%;
    margin-right: -510px; */
    float: right;
    margin-right: -22px;
    margin-top: 8px;
}

.logo-harmonic:after{
    content: '';
    background-image: url(../images/rings.png);
    position: absolute;
    width: 180px;
    height: 40px;
    margin-top: 170px;
    margin-left: 8px;
}

.head-text_KUorganization{
    /* margin-left: 557px;
    margin-right: 545px; */
    /* width: 326px;
    height: 51px; */
    font-family: "Century Gothic", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
    text-align: center;
    font-style: italic;
    /* left: 50%;
    /* margin-left: -164px;
    position: absolute; */ 
}
.head-text-main{
    /* width: 450px;
    height: 85px; */
    font-family: "Binner_Di", "Arial", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #4b8902;
    /* left: 50%;
    margin-left: -218px;
    position: absolute;
    margin-top: 48px; */
    margin-top: 7px;
}
.head-text-darina{
    /* width: 201px;
    height: 41px; */
    font-family: "Binner_Di", "Arial", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #c97852;
    /* left: 50%;
    margin-left: -108px;
    position: absolute;
    margin-top: 146px; */
    margin-top: 7px;
}
.content{
    padding-top: 30px;
}
.news-name{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: -6px;
}
.news-date-kategory-author{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
    opacity: 0.5;
    margin-top: -2px;
}
.news-main-picture{

    background-image: url(../images/news_picture.jpg);
    width: 100px;
    height: 74px;
    float: left;
    border: 3px solid white;
    box-sizing: border-box;
    box-shadow: black;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
}
.news-main-text{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    width: 365px;
    height: 126px;
    float: right;
}
.news-main-text-pic{
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 240px;
    width: 500px;
    height: 126px;
    margin-bottom: 3px;
}
.more-info{
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    color: #475bc1;
    text-decoration: none;
}
.news{
    margin-bottom: 21px;
    margin-top: -6px;
}

a{
    color: cornflowerblue;
    text-decoration: none;
}

.pagination li{
    float: left;
    color: black;
    margin-right: 5px;
}

.pagination a{
    color: black;
    font-size: 12px;
    font-family: "Century Gothic", "Arial", sans-serif;
    font-weight: 400;
    padding: 5px;
    border: 1px solid transparent;
}

.pagination{
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-top: 88px;
}

.pagination__link{
    padding: 0 4px;
}

.pagination__link:hover{
    background-color: rgb(170, 169, 169);
    opacity: .5;
    /* width: 17px;
    height: 22px; */
    border-radius: 3px;
    /* border: 1px solid black; */
    border-color: black;
}

.form__inputs{
    display: flex;
    flex-direction: column;
}

.pagination__link:{
    background-color: rgb(170, 169, 169);
    opacity: .5;
    /* width: 17px;
    height: 22px; */
    border-radius: 3px;
    /* border: 1px solid black; */
    border-color: black;
}